* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  image-rendering: -webkit-optimize-contrast
}

::selection {
  background: #ff8da1
}

::-moz-selection {
  background: #ff8da1
}

a:focus, a:hover {
  text-decoration: none !important
}

p {
  margin: 0
}

@font-face {
  font-family: Patua;
  src: url(/static/media/Patua-One.c94e059c.woff2) format("woff")
}

@font-face {
  font-family: Uni Sans T;
  src: url("/static/media/Uni Sans Thin.eb17b949.otf")
}

@font-face {
  font-family: Uni Sans TI;
  src: url("/static/media/Uni Sans Thin Italic.53c524af.otf")
}

@font-face {
  font-family: Uni Sans H;
  src: url("/static/media/Uni Sans Heavy.4e8910ad.otf")
}

@font-face {
  font-family: Uni Sans HI;
  src: url("/static/media/Uni Sans Heavy Italic.d1d577a5.otf")
}

@font-face {
  font-family: WhitneyHTF-M;
  src: url(/static/media/WhitneyHTF-Medium.bdf2795e.ttf)
}

@font-face {
  font-family: WhitneyHTF-MISC;
  src: url(/static/media/WhitneyHTF-MediumItalicSC.a5c66e11.otf)
}

@font-face {
  font-family: WhitneyHTF-BI;
  src: url(/static/media/WhitneyHTF-BookItalic.72688bb4.otf)
}

@font-face {
  font-family: WhitneyHTF-B;
  src: url(/static/media/WhitneyHTF-Bold.f4dd93a3.otf)
}

@font-face {
  font-family: Fira Sans;
  src: url(/static/media/FiraSans-Regular.d95cbc6b.otf)
}

@font-face {
  font-family: NotoSans;
  font-weight: 700;
  src: url(/static/media/NotoSans-Bold.a165a426.ttf)
}

html {
  height: 100%;
  font-size: 100%
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  padding-bottom: 20px
}

footer {
  background: #000;
  font-family: NotoSans, sans-serif;
  font-weight: 700;
  padding: 20px 0
}

footer .container {
  max-width: 1730px;
  width: 100%
}

.infoMsg{
  display: inline-block;
  position:absolute;
  width: 100%;
  text-align: center;
  top: 50%
}
footer .copyright {
  color: #fff
}

@media screen and (max-width:992px) {
  body {
    background-size: 100%;
    background-position: center 63px
  }
}

@font-face {
  font-family: Panton;
  font-style: normal;
  font-weight: 700;
  src: url(/static/media/Panton-BlackCaps.6b15d976.otf)
}

@font-face {
  font-family: Panton;
  font-style: italic;
  font-weight: 700;
  src: url(/static/media/Panton-BlackitalicCaps.33fd5de0.otf)
}

@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(/static/media/WhitneyHTF-Bold.f4dd93a3.otf)
}

html {
  font-size: 16px
}

.container, .container-full {
  width: 100%;
  margin: 0 auto;
  position: relative
}

.container {
  max-width: 1730px;
  padding: 0 20px
}

.container, mymynav {
  overflow: hidden
}

mymynav {
  background: #0f0f0f;
  font-family: Panton, sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 700;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

mymynav a {
  text-decoration: none
}

.sidebar {
  -ms-flex-align: center;
  align-items: center;
  background: #333;
  display: none;
  float: left;
  height: 44px;
  padding: 0 10px;
  position: relative
}

.sidebar .menu-icon-wrap:after {
  content: "";
  width: 0;
  height: 0;
  border-color: #333 transparent transparent;
  border-style: solid;
  border-width: 44px 15px 0 0;
  padding-right: 1px;
  position: absolute;
  right: -15px;
  top: 0;
  z-index: 1
}

.sidebar .menu-icon-wrap:hover {
  cursor: pointer
}

.sidebar .menu-icon {
  display: block;
  height: 20px;
  width: 25px
}

.mymynav-left, .mymynav-right {
  display: -ms-flexbox;
  display: flex
}

.mymynav-right {
  float: right;
  width: 485px
}

.mymynav-right a {
  color: #fff
}

.miner-wrap {
  width: calc(50% + 7.5px)
}

.miner-menu {
  background: #1a1a1a;
  cursor: pointer;
  color: #fff;
  height: 44px;
  line-height: 44px;
  padding: 0 50px 0 25px;
  position: relative;
  text-align: center
}

.miner-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-color: transparent transparent #1a1a1a;
  border-style: solid;
  border-width: 0 0 44px 15px;
  padding-left: 1px;
  position: absolute;
  left: -15px
}

.miner-menu:hover {
  background: #2b2b2b
}

.miner-menu:hover:before {
  border-color: transparent transparent #2b2b2b
}

.miner-menu img {
  margin-left: 10px;
  width: 15px
}

mymynav a.active {
  color: #fff
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default
}

a, a:active, a:focus, a:hover {
  outline: 0
}

.clear {
  clear: both
}

.none {
  display: none
}

.img-responsive {
  display: inline
}

.logo {
  background: #1a1a1a;
  height: 44px;
  padding: 0 20px;
  position: relative
}

.logo:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44px 15px 0 0;
  border-color: #1a1a1a transparent transparent;
  padding-right: 1px;
  position: absolute;
  right: -15px;
  z-index: 1
}

.social {
  padding: 0 15px 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative
}

.social a {
  display: block;
  z-index: 1
}

.social:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44px 15px 0 0;
  padding-left: 1px;
  position: absolute;
  right: -15px;
  top: 0;
  z-index: 1
}

.social img {
  width: 24px
}

.github {
  background: #24292e
}

.github:after {
  border-color: #24292e transparent transparent
}

.github:hover {
  background: #353a3f
}

.github:hover, .github:hover:after {
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease
}

.github:hover:after {
  border-color: #353a3f transparent transparent
}

.discord {
  background: #7289da
}

.discord:after {
  border-color: #7289da transparent transparent
}

.discord:hover {
  background: #839aeb
}

.discord:hover, .discord:hover:after {
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease
}

.discord:hover:after {
  border-color: #839aeb transparent transparent
}

.twitter {
  background: #1da1f3
}

.twitter:after {
  border-color: #1da1f3 transparent transparent
}

.twitter:hover {
  background: #2eb2f2
}

.twitter:hover, .twitter:hover:after {
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease
}

.twitter:hover:after {
  border-color: #2eb2f2 transparent transparent
}

.sticky-logo {
  float: left;
  max-width: 35px;
  margin-top: 10px;
  margin-right: 30px
}

.login, .profile-menu {
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 44px;
  position: relative;
  text-align: center;
  width: calc(50% - 7.5px)
}

.login:before, .profile-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 44px 15px;
  padding-right: 1px;
  position: absolute;
  left: -15px
}

.login {
  background: #22b573
}

.login:before {
  border-color: transparent transparent #22b573
}

.login img {
  margin-right: 10px;
  height: 22px;
  width: 22px
}

.login:hover {
  background: #33c684
}

.login:hover:before {
  border-color: transparent transparent #33c684
}

.profile-menu {
  background: #09f;
  color: #fff
}

.profile-menu:before {
  border-color: transparent transparent #09f
}

.profile-menu img {
  margin-right: 10px;
  height: 22px;
  width: 22px
}

.profile-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, .8)), to(rgba(0, 0, 0, .8))), url(/static/media/bg_profile.934eed8f.png);
  background: -webkit-linear-gradient(rgba(33, 33, 33, .8), rgba(0, 0, 0, .8)), url(/static/media/bg_profile.934eed8f.png);
  background: -o-linear-gradient(rgba(33, 33, 33, .8), rgba(0, 0, 0, .8)), url(/static/media/bg_profile.934eed8f.png);
  background: linear-gradient(rgba(33, 33, 33, .8), rgba(0, 0, 0, .8)), url(/static/media/bg_profile.934eed8f.png);
  position: absolute;
  right: 0;
  top: 44px;
  width: 250px
}

.profile {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 312px;
  text-align: center
}

.profile-info {
  color: #fff
}

.profile-info img {
  border: 5px solid #fff;
  border-radius: 50%;
  margin-bottom: 20px
}

.profile-info p {
  font-family: Whitney;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  text-transform: none
}

.logout {
  -ms-flex-align: center;
  align-items: center;
  background: #cc2440;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 44px;
  position: relative;
  text-align: center
}

.logout img {
  margin-right: 10px;
  height: 22px;
  width: 22px
}

.miner-iframe {
  position: absolute;
  right: 0;
  top: 44px
}

@media screen and (max-width:1024px) {
  .mymynav-right {
    display: none
  }
}

@media screen and (max-width:575px) {
  .mymynav-right, .social {
    display: none
  }
}

@font-face {
  font-family: NotoSans;
  font-weight: 400;
  src: url(/static/media/NotoSans-Regular.2fd9c16b.ttf)
}

@font-face {
  font-family: Panton;
  font-style: normal;
  font-weight: 700;
  src: url(/static/media/Panton-BlackCaps.6b15d976.otf)
}

body {
  background: #303030
}

.commands-list-container {
  font-family: NotoSans, sans-serif;
  margin: 0 auto;
  max-width: 1920px;
  padding: 40px
}

.cl-header {
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 20px
}

.cl-header h2 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  width: 300px
}

.cl-header img {
  margin-right: 20px;
  max-width: 20px
}

.cl-header button {
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-family: NotoSans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  width: 260px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.cl-header button img {
  margin-right: 0
}

.cl-header button:hover {
  background: #333
}

.cl-sub-header {
  -ms-flex-align: center;
  align-items: center;
  background: #0d0d0d;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.cl-sub-header * {
  display: inline-block
}

.modules-header {
  -ms-flex-align: center;
  align-items: center;
  background: #1a1a1a;
  color: #fff;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: NotoSans;
  font-weight: 700;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  width: 200px
}

.modules-header img {
  width: 15px
}

.modules-all {
  margin-left: 20px
}

.modules-all button {
  background: #1a1a1a;
  border: 1px solid #707070;
  color: #fff;
  font-family: NotoSans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px
}

.module-name.all.selected {
  background: #fff;
  color: #1a1a1a
}

.search-wrap {
  margin-left: 20px;
  padding-right: 20px
}

.search-wrap input {
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-family: NotoSans, serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  outline-color: #111;
  padding: .5rem 1rem;
  width: 260px
}

.search-wrap input::-webkit-input-placeholder {
  color: #b3b3b3
}

.search-wrap input:-ms-input-placeholder, .search-wrap input::-ms-input-placeholder {
  color: #b3b3b3
}

.search-wrap input::placeholder {
  color: #b3b3b3
}

.modules-wrap {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  width: 48%
}

.modules-wrap h2 {
  -ms-flex-item-align: center;
  align-self: center;
  color: #484848;
  font-weight: 700;
  margin: -10px 40px 0 0;
  width: 25%
}

.modules {
  background: #1a1a1a;
  display: inline-block;
  padding: 20px;
  width: 100%
}

.module-name, .modules {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.module-name {
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: NotoSans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin: 0 16px 10px 0;
  padding: 7.5px 9.5px
}

.module-name input {
  margin-right: 5px
}

.module {
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #010101;
  padding: 5px 7px
}

.module-name.administration {
  background: rgba(0, 155, 191, .3);
  border: 1px solid #009bbf
}

.administration, .administration.selected {
  background: #009bbf
}

.module-name.fun {
  background: rgba(0, 91, 211, .3);
  border: 1px solid #005bd3
}

.fun, .fun.selected {
  background: #005bd3
}

.module-name.economy {
  background: rgba(45, 41, 170, .3);
  border: 1px solid #2d29aa
}

.economy, .economy.selected {
  background: #2d29aa
}

.module-name.gaming {
  background: rgba(108, 33, 174, .3);
  border: 1px solid #6c21ae
}

.gaming, .gaming.selected {
  background: #6c21ae
}

.module-name.help {
  background: rgba(151, 45, 182, .3);
  border: 1px solid #972db6
}

.help, .help.selected {
  background: #972db6
}

.module-name.music {
  background: rgba(197, 37, 136, .3);
  border: 1px solid #c52588
}

.music, .music.selected {
  background: #c52588
}

.module-name.nsfw {
  background: rgba(209, 40, 52, .3);
  border: 1px solid #d12834
}

.nsfw, .nsfw.selected {
  background: #d12834
}

.module-name.permissions {
  background: rgba(211, 104, 24, .3);
  border: 1px solid #d36818
}

.permissions, .permissions.selected {
  background: #d36818
}

.module-name.pokemon {
  background: rgba(211, 168, 14, .3);
  border: 1px solid #d3a80e
}

.pokemon, .pokemon.selected {
  background: #d3a80e
}

.module-name.request {
  background: rgba(158, 197, 0, .3);
  border: 1px solid #9ec500
}

.request, .request.selected {
  background: #9ec500
}

.module-name.utility {
  background: rgba(66, 184, 52, .3);
  border: 1px solid #42b834
}

.utility, .utility.selected {
  background: #42b834
}

.module-name.xp {
  background: rgba(0, 157, 94, .3);
  border: 1px solid #009d5e
}

.xp, .xp.selected {
  background: #009d5e
}

.commands {
  background: #fff
}

.command, .commands-header {
  display: grid;
  font-family: NotoSans, sans-serif;
  grid-template-columns: 22% 39% 39%
}

.commands-header {
  background: #0d0d0d;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
  padding: 1.5rem 0
}

.commands-header p {
  padding-left: 20px
}

.command {
  font-family: NotoSans, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear
}

.command.enter {
  opacity: 0
}

.command div {
  color: #fff;
  padding: 20px
}

.command div:first-child, .command div:last-child {
  background: rgba(0, 0, 0, .9)
}

.command div:nth-child(2) {
  background: rgba(0, 0, 0, .88)
}

.command span:not(.module) {
  display: block
}

.command:nth-child(odd) {
  background: rgba(0, 0, 0, .1)
}

.command-name {
  color: #fff !important;
  font-weight: 700
}

.description, .usage {
  color: #ccc !important
}

.description a {
  color: #fff
}

.description-warning {
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Panton, sans-serif;
  font-size: .8125rem;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase
}

.description-warning span {
  display: inline-block !important
}

.description-warning .permissionvip {
  background: #ffd700;
  margin: 5px 0 5px 10px;
  padding: 5px 7px;
  text-shadow: 1px 1px 2px #010101
}

.description-warning .permissionpartner {
  background: #ffd700;
  margin: 5px 0 5px 10px;
  padding: 5px 7px;
  text-shadow: 1px 1px 2px #010101
}

@media screen and (max-width:992px) {
  .modules-header {
    width: 150px
  }
}

@media screen and (max-width:768px) {
  .cl-headers-wrap {
    background: #0d0d0d;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0
  }
  .cl-header h2, .search-wrap input {
    width: auto
  }
  .cl-header img, .modules-all, .modules-header, .suggest-feature {
    display: none
  }
  .cl-header, .cl-sub-header {
    background: transparent
  }
  .commands, .commands-list-container {
    padding: 20px
  }
  .commands {
    background: #1a1a1a
  }
  .commands-header {
    display: none
  }
  .command {
    display: block;
    margin-bottom: 20px
  }
  .command div {
    padding: 10px
  }
  .command div:first-child, .command div:nth-child(2) {
    background: #333
  }
  .command div:last-child {
    background: #2b2b2b
  }
  .command-name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .module {
    margin-top: 0
  }
  .usage {
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -ms-flexbox;
    display: flex
  }
  .usage:before {
    content: "Usage";
    font-family: Panton, sans-serif;
    font-size: .8125rem;
    font-weight: 700;
    margin-right: 10px;
    text-transform: uppercase
  }
}

.xmr-bg {
  background: #f60 !important
}

.xmr-dark-bg {
  background: #ff4d00 !important
}

.xlm-bg {
  background: #2c3e50 !important
}

.xlm-dark-bg {
  background: #143250 !important
}

.eth-bg {
  background: #3c3c3d !important
}

.eth-dark-bg {
  background: #49494a !important
}

.patreon-dark-bg {
  background: #f86753
}

.paypal-dark-bg {
  background: #233e83
}

.donate-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "donate patreon paypal crypto" "donate-info donate-info donate-info donate-info"
}

.donate-via {
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-family: Panton, sans-serif;
  -ms-flex-pack: center;
  justify-content: center;
  height: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.donate-via img {
  max-height: 50px
}

.donate-via.donate {
  background: #fff;
  color: #1a1a1a;
  grid-area: donate;
  cursor: default
}

.donate-via.patreon {
  background: #f86753;
  grid-area: patreon
}

.donate-via.paypal {
  background: #233e83;
  grid-area: paypal
}

.donate-via.crypto {
  background: #ff8c00;
  color: #fff;
  grid-area: crypto
}

.donate-info-wrap {
  grid-area: donate-info
}

.donate-info-wrap .container {
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem 20px;
  width: 1366px
}

.currency-img, .donate-info-wrap .container {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex
}

.currency-img {
  background: #fff;
  border-radius: 50%;
  height: 140px;
  -ms-flex-pack: center;
  justify-content: center;
  width: 140px
}

.currency-img img {
  max-height: 90px
}

.donate-info {
  color: #fff;
  font-family: Noto, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 50px;
  width: calc(100% - 200px)
}

.donate-info.crypto {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.donate-info .data {
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.3rem
}

.donate-info .data img {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 25px;
  padding: 10px;
  width: 25px
}

.donate-info .data .value {
  font-family: Noto, sans-serif;
  font-size: 1.2rem;
  overflow: hidden;
  padding: 0 20px;
  width: 80%;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  border: 0
}

.donate-info .data .value.xlm {
  font-size: 1rem
}

.donate-info .data .value.xmr {
  line-break: normal;
  font-size: .95rem
}

.donate-info .data.btc .hash-img {
  background: #ffaf4d
}

.donate-info .data.xmr .hash-img {
  background: #ff7a40
}

.donate-info .data.xlm .hash-img {
  background: #205182
}

.donate-info .data.eth .hash-img {
  background: #7c7c7d
}

.donate-info .data.btc .value {
  background: #ffa333
}

.donate-info .data.xmr .value {
  background: #ff8a48
}

.donate-info .data.xlm .value {
  background: #1a4169
}

.donate-info .data.eth .value {
  background: #626263
}

.donate-info .data .value-link {
  background: #fff
}

.donate-info .data .value-link.crypto {
  cursor: pointer
}

.donate-info .data .value-link.crypto:active {
  background: #ccc;
  cursor: pointer
}

.donate-info .data.patreon .hash-img {
  background: #f89283
}

.donate-info .data.patreon .value {
  background: #f87c6b;
  width: 100%
}

.donate-info .data.paypal .hash-img {
  background: #3056b5
}

.donate-info .data.paypal .value {
  background: #2a4a9c;
  width: 100%
}

.donate-info .donate-link {
  width: 70%
}

.qr-wrap {
  -ms-flex-align: inherit;
  align-items: inherit;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 326px
}

.qr-wrap div:first-child {
  width: 100%
}

.qr-wrap .data img {
  width: 25px
}

.qr-wrap .qr-img {
  margin-left: 50px;
  max-width: 100px
}

.currencies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.currency {
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-family: Panton, sans-serif;
  -ms-flex-pack: center;
  justify-content: center;
  height: 80px
}

.a-no-style {
  text-decoration: none;
  color: inherit
}

@media screen and (max-width:992px) {
  .donate-wrap {
    grid-template-columns: repeat(3, 1fr)
  }
  .donate-via {
    padding: 15px
  }
  .donate-via img {
    width: 100%
  }
  .donate-via.crypto {
    display: none
  }
}

@media screen and (max-width:575px) {
  .donate-via {
    font-size: 1.2rem;
    height: auto
  }
  .donate-info {
    margin-left: 30px;
    width: calc(100% - 130px)
  }
  .donate-info, .donate-info .data .value {
    font-size: 1rem
  }
  .currency-img {
    height: 100px;
    width: 100px
  }
  .currency-img img {
    max-height: 60px
  }
}

@font-face {
  font-family: Noto;
  font-style: normal;
  font-weight: 700;
  src: url(/static/media/NotoSans-Bold.a165a426.ttf)
}

@font-face {
  font-family: Noto;
  font-style: normal;
  font-weight: 400;
  src: url(/static/media/NotoSans-Regular.2fd9c16b.ttf)
}

@font-face {
  font-family: Panton;
  font-style: normal;
  font-weight: 700;
  src: url(/static/media/Panton-BlackCaps.6b15d976.otf)
}

@font-face {
  font-family: UniSans;
  font-style: italic;
  font-weight: 700;
  src: url("/static/media/Uni Sans Heavy Italic.d1d577a5.otf")
}

.container {
  max-width: 100%;
  width: 1024px
}

.top-section-wrap {
  background: url(/static/media/background_top.8b9e7d07.jpg)
}

.top-section {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5rem 0;
  width: 100%
}

.top-section h1 {
  color: #fff;
  margin-left: 2rem;
  font-family: UniSans, sans-serif;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase
}

.top-section .nadeko-image {
  border-radius: 50%;
  height: 300px;
  overflow: hidden;
  width: 300px
}

.links {
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.links.links-mobile {
  display: none
}

.links a {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-family: Panton, sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 20px
}

.links a:hover {
  background: #fff;
  color: #000
}

.links .tools-link:before {
  background: url(/static/media/icon-arrow-down-white.09390f06.svg) no-repeat
}

.links .tools-link:before, .links .tools-link:hover:before {
  content: "";
  height: 30px;
  left: 0;
  margin-right: 20px;
  margin-top: 3px;
  width: 30px
}

.links .tools-link:hover:before {
  background: url(/static/media/icon-arrow-down.d7f0371d.svg) no-repeat
}

.links .invite-nadeko:before {
  background: url(/static/media/icon-discord-white.0065adb9.svg) no-repeat;
  content: "";
  height: 30px;
  margin-right: 20px;
  left: 0;
  margin-top: 3px;
  width: 30px
}

.links .invite-nadeko:hover:before {
  background: url(/static/media/icon-discord.de892466.svg) no-repeat;
  content: "";
  height: 30px;
  margin-right: 20px;
  left: 0;
  width: 30px
}

.links .command-list:before {
  background: url(/static/media/icon-command_list-white.027d99e6.svg) no-repeat;
  content: "";
  height: 30px;
  left: 0;
  margin-right: 20px;
  margin-top: 3px;
  width: 30px
}

.links .command-list:hover:before {
  background: url(/static/media/icon-command_list.e0a6f93b.svg) no-repeat;
  content: "";
  height: 30px;
  margin-right: 20px;
  left: 0;
  width: 30px
}

.links img {
  height: 30px;
  width: 30px
}

.home-section {
  padding: 3rem 0
}

.home-section .container {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
  width: 1180px
}

.home-section.black {
  background: -webkit-gradient(linear, left top, right top, from(rgba(26, 26, 26, .2)), color-stop(10%, rgba(26, 26, 26, .6)), color-stop(30%, #1a1a1a)), url(/static/media/bg_black.934eed8f.png);
  background: -webkit-linear-gradient(left, rgba(26, 26, 26, .2), rgba(26, 26, 26, .6) 10%, #1a1a1a 30%), url(/static/media/bg_black.934eed8f.png);
  background: -o-linear-gradient(left, rgba(26, 26, 26, .2), rgba(26, 26, 26, .6) 10%, #1a1a1a 30%), url(/static/media/bg_black.934eed8f.png);
  background: linear-gradient(90deg, rgba(26, 26, 26, .2), rgba(26, 26, 26, .6) 10%, #1a1a1a 30%), url(/static/media/bg_black.934eed8f.png);
  color: #fff
}

.home-section.white {
  background: -webkit-gradient(linear, right top, left top, from(hsla(0, 0%, 90%, .2)), color-stop(10%, hsla(0, 0%, 90%, .6)), color-stop(30%, #e6e6e6)), url(/static/media/bg_white.5c644fd8.png);
  background: -webkit-linear-gradient(right, hsla(0, 0%, 90%, .2), hsla(0, 0%, 90%, .6) 10%, #e6e6e6 30%), url(/static/media/bg_white.5c644fd8.png);
  background: -o-linear-gradient(right, hsla(0, 0%, 90%, .2), hsla(0, 0%, 90%, .6) 10%, #e6e6e6 30%), url(/static/media/bg_white.5c644fd8.png);
  background: linear-gradient(270deg, hsla(0, 0%, 90%, .2), hsla(0, 0%, 90%, .6) 10%, #e6e6e6 30%), url(/static/media/bg_white.5c644fd8.png)
}

.home-section h2 {
  font-family: Panton, sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase
}

.home-section p {
  font-family: Noto, sans-serif;
  font-size: 1.3rem;
  line-height: 2rem
}

.home-section.white p {
  color: #191919
}

.home-section .image-wrap {
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 180px;
  width: 180px
}

.home-section.black .image-wrap {
  background: #fff
}

.home-section.white .image-wrap {
  background: #1a1a1a
}

.home-section .image-wrap img {
  max-width: 90px
}

.home-section-info {
  width: calc(100% - 230px)
}

@media screen and (max-width:1024px) {
  .top-section .nadeko-image, .top-section .nadeko-image img {
    height: 200px;
    width: 200px
  }
  .top-section h1 {
    font-size: 3rem
  }
}

@media screen and (max-width:992px) {
  .top-section {
    padding: 5rem 20px
  }
}

@media screen and (max-width:768px) {
  .top-section-wrap {
    margin: 15px
  }
  .top-section {
    padding: 3rem 20px
  }
  .top-section br {
    display: none
  }
  .top-section .nadeko-image, .top-section .nadeko-image img {
    height: 120px;
    width: 120px
  }
  .top-section h1 {
    font-size: 2rem;
    width: 300px
  }
  .links {
    display: none
  }
  .links.links-mobile {
    display: grid;
    grid-template-columns: repeat(2, 50%)
  }
  .links.links-mobile a {
    font-size: 1.5rem
  }
  .links .command-list {
    background: #fff;
    color: #1a1a1a
  }
  .links .command-list:hover {
    background: transparent;
    color: #fff
  }
  .links .command-list:before {
    background: url(/static/media/icon-command_list.e0a6f93b.svg) no-repeat
  }
  .links .command-list:hover:before {
    background: url(/static/media/icon-command_list-white.027d99e6.svg) no-repeat
  }
  .links .command-list:before, .links .command-list:hover:before {
    height: 20px;
    width: 20px;
    margin-top: 5px
  }
  .links .support-link {
    background: #7289da
  }
  .links .support-link:before {
    background: url(/static/media/icon-support_white.b3722408.svg) no-repeat
  }
  .links .support-link:before, .links .support-link:hover:before {
    content: "";
    height: 20px;
    left: 0;
    margin-right: 20px;
    margin-top: 3px;
    width: 20px
  }
  .links .support-link:hover:before {
    background: url(/static/media/icon-support.33c4443c.svg) no-repeat
  }
  .home-sections-wrap {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    margin: 15px
  }
  .home-section.black {
    background: #1a1a1a
  }
  .home-section.white {
    background: #e6e6e6
  }
  .home-section .container {
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px
  }
  .home-section.white .container {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
  .home-section-info {
    text-align: center;
    width: 100%
  }
  .home-section h2 {
    font-size: 1rem
  }
  .home-section .image-wrap {
    height: 100px;
    margin-bottom: 30px;
    width: 100px
  }
  .home-section .image-wrap img {
    max-width: 60px
  }
  .home-section-info p {
    display: none
  }
}

@media screen and (max-width:530px) {
  .top-section h1 {
    width: calc(100% - 140px)
  }
  .home-section .container {
    padding: 0 12px
  }
  .links a {
    padding: 15px
  }
  .links.links-mobile a {
    font-size: 1.1rem
  }
  .links .command-list:before, .links .command-list:hover:before, .links .support-link:before, .links .support-link:hover:before {
    height: 15px;
    margin-right: 15px;
    margin-top: 3px;
    width: 15px
  }
  .links .support-link:before, .links .support-link:hover:before {
    margin-top: 0
  }
}

@media screen and (max-width:450px) {
  .home-section {
    padding: 1rem 0
  }
  .home-section h2 {
    font-size: 13px
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

@media screen and (max-width:1024px) {
  html {
    font-size: 14px
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 13px
  }
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
/*# sourceMappingURL=main.1c32c9f9.css.map*/
